@media only screen and (max-width: 477px) {
  .Wer2gh {
    display: none;
  }
  .chartPart {
    flex-direction: column;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 70vh;
    /* margin-right: 10px; */
    background-color: #212529;
    width: 96vw;
  }
  .container-fluid {
    background-color: #212529;
  }
}
/* .display-content {
  position: fixed;
  width: 100vw;
  top: 10vh;
} */
